@tailwind base;
@tailwind components;
@tailwind utilities;

.rich-text p {
  min-height: 20px;
}

@layer components {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-unit-blue to-unit-orange;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}